.header {
  max-width: 100%;
  padding: 60px 120px;
  background: #167bf7;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  color: #fff;
  font-size: 1rem;
  line-height: auto;
  justify-content: center;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.menu a:hover {
  color: #fff;
  opacity: 0.8;
  transition: 0.3s;
}

#btn-mobile {
  display: none;
}
